<form id="addProgramForm" method="POST" action="/addprog">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered custom-modal-width">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addModalLabel">Program Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-4 mx-4" id="addModalBody">
                  <form id="addProgramForm" method="post" action="/add_program">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="programCode" class="form-label" style="opacity: 0.7;">Program Code</label>
                        <input type="text" class="form-control" style="border-color: black;" id="programCode" name="programcode" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="collegeCode" class="form-label" style="opacity: 0.7;">College Code</label>
                        <select class="form-select" style="border-color: black;" id="collegeCode" name="college_code" required>
                          <option value="" disabled selected>Select College</option>
                          {% for college in colleges %}
                            <option value="{{ college[0] }}">{{ college[0] }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="programName" class="form-label" style="opacity: 0.7;">Program Name</label>
                      <input type="text" class="form-control" style="border-color: black;" id="programName" name="programname" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3" style="height: 45px;">DONE</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>