{% extends "Master Template/index.html" %}

{% block title %}Programs{% endblock %}

{% block content %}

<div class="container mt-5">
   
    <div class="row d-flex align-items-center justify-content-start gap-3">
       
        <div class="input-group w-50">
            <input type="text" class="inpsearch form-control" id="programinput" style="border-color: black;" placeholder="Search" aria-label="Search programs" aria-describedby="searchButton">
            <button class="search btn btn-primary" type="button" id="searchprog"><i class="fas fa-search"></i></button></button>
        </div>

      
        <button style="margin-left: 135px;" type="button" class="primbutton btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addModal">
            ADD PROGRAM
        </button>


        <select class="form-select w-25" style="border-color: black;  height: 45px;" id="collegeCode" name="collegecode" required>
          {% for college in colleges %}
            <option value="{{ college[0] }}">{{ college[0] }}</option>
          {% endfor %}
        </select>
        
        
    </div>
   

    <table class="table mt-3 table-bordered">
        <thead>
            <tr>
                <th style="width: 15%;">College Code</th>
                <th style="width: 15%;">Program Code</th>
                <th style="width: 70%;">Program Name</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through programs data -->
            {% for program in programs %}
            <tr>
                <td>{{ program[2] }}</td>
                <td>{{ program[0] }}</td>
                <td>{{ program[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="w-100 mt-3">
          {% for category, message in messages %}
          <div class="alert {{ 'alert-danger' if category == 'error' else 'alert-' + category }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
</div>

<div>
  {% include 'Program Template/search_program.html' %}
  {% include 'Program Template/programs_modal.html' %}
</div>  

{% endblock %}
