.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 270px;
    background-color: white;
    padding: 20px;
    border-right: 20px solid #F0F0F0;
}


.sidebar-btn {
    background-color: white;
    border:white;
    color: gray;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
    height: 50px;
}


.sidebar-btn:hover {
    background-color: lightgray;
    color: gray;
}


.sidebar-btn:click {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f4f4f4; /* Light gray background for the table */
    border: none;
    margin-top: 20px;
}

thead {
    background-color: #e0e0e0; /* Slightly darker gray for the header */
    border-bottom: 2px solid #ccc;
}

th, td {
    padding: 10px 12px;
    text-align: left;
}

th {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #333;
    border-bottom: 1px solid #ddd;
}

tbody tr {
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 15px;
    color: #555;
}

.search {
    background-color: white;
    border: 1px solid black;
    border-left: none;
    color: #550000;
    width: 50px;
    height: 45px;
    border-radius: 10px;
}

.inpsearch {
    background-color: white;
    border-right: none;
    border: 1px solid black;
    width: 400px;
    height: 45px;
    border-radius: 10px;

}

.inpsearch:focus {
    background-color: white;
    border-right: none;
    border: 1px solid black;
    width: 400px;
    height: 45px;
    border-radius: 10px;
    outline: none;

}

.primbutton {
    background-color: #550000;
    color: white;
    border: none;
    height: 45px;
    width: 150px;
}