{% extends "Master Template/index.html" %}

{% block title %}Colleges{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex align-items-center justify-content-start">
       
        <div class="input-group w-50" style="margin-right: 15px;">
            <input type="text" class="inpsearch form-control" id="collegeinput" placeholder="Search" aria-label="Search colleges" aria-describedby="searchButton">
            <button class="search btn btn-primary" type="button" id="searchCollegeBtn"><i class="fas fa-search"></i></button></button>
        </div>

        
        <button type="button" class="primbutton btn btn-primary" data-bs-toggle="modal" data-bs-target="#addcoll">
            ADD COLLEGE
        </button>
    </div>

    {% include 'College Template/college_modal.html' %}
    {% include 'College Template/search_college.html' %}

    <table class="mt-3 table table-bordered">
        <thead>
            <tr>
                <th style="width: 15%;">COLLEGE CODE</th>
                <th style="width: 85%;">COLLEGE NAME</th>
            </tr>
        </thead>
        <tbody>
           
            {% for college in colleges %}
            <tr>
                <td>{{ college[0] }}</td>
                <td>{{ college[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="w-100 mt-3">
          {% for category, message in messages %}
          <div class="alert {{ 'alert-danger' if category == 'error' else 'alert-' + category }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
</div>

{% endblock %}