
<form id="addcollegeForm" method="POST" action="/update">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="modal fade" id="searchcollege" tabindex="-1" aria-labelledby="searchcollegeLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered custom-modal-width">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="searchcollegelabel">College Information</h5>
                                 <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-secondary me-2" id="editcollege">EDIT</button>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="modal-body mb-4 mx-4" id="addModalBody">
                              
                                <form id="addCollegeForm" method="post" action="/add_college">
                                    <div class="mb-3">
                                        <label for="collegeCode" class="form-label" style="opacity: 0.7;">College Code</label>
                                        <input type="text" class="form-control" style="border-color: black;" id="collegeCode" name="collegecode" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="collegeName" class="form-label" style="opacity: 0.7;">College Name</label>
                                        <input type="text" class="form-control" style="border-color: black;" id="collegeName" name="collegename" required>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <button type="button" class="btn" id="deletecollege" style="border: 2px solid red; background-color: transparent; color: red;">DELETE</button>
                                        <div class="d-flex">
                                            <button type="button" class="btn" id="cancelcollege" style="border: 2px solid #2ECC71; background-color: transparent; color: #2ECC71;">CANCEL</button>
                                            <button type="submit" class="btn ms-2" id="donecollege" style="background-color: #2ECC71; border-color: #2ECC71; color: white;">DONE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

