{% extends "index.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="container">
    <h1>Welcome to the Homepage</h1>

    <!-- Button to open the 'Add' page in a modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        Add Student
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        Update</button>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Student Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="addModalBody">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}