{% extends "Master Template/index.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="content">
    <div class="d-flex mx-auto justify-content-center mt-5">
        <div class="row d-flex input-group w-25">
            <input class="inpsearch" id="studentSearch" type="text" class="form-control" placeholder="Search" aria-label="Search students" aria-describedby="searchButton">
                <button class="search" type="button" id="searchButton">
                <i class="fas fa-search"></i></button>
        </div>
    </div>
</div>

<div >
    {% include "Student Template/search_student.html" %} 
</div>

{% endblock %}